@using Entities.Dtos;
@model ApartmentAddDto

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span> Apartman Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="İptal"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddApartment" id="form-apartment-add">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validationSummary" aria-hidden="true" style="display:none;"></div>
                    <div class="form-group">
                        <label asp-for="ApartmentName"></label>
                        <input class="form-control" asp-for="ApartmentName" />
                        <span class="text-danger" asp-validation-for="ApartmentName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlockNo"></label>
                        <input class="form-control" asp-for="BlockNo" />
                        <span class="text-danger" asp-validation-for="BlockNo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoorNumber"></label>
                        <input class="form-control" asp-for="DoorNumber" />
                        <span class="text-danger" asp-validation-for="DoorNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResponsibleMemberId"></label>
                        <input class="form-control" asp-for="ResponsibleMemberId" />
                        <span class="text-danger" asp-validation-for="ResponsibleMemberId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumberOfFlats"></label>
                        <input class="form-control" asp-for="NumberOfFlats" />
                        <span class="text-danger" asp-validation-for="NumberOfFlats"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityId"></label>
                        <input class="form-control" asp-for="CityId" />
                        <span class="text-danger" asp-validation-for="CityId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountyId"></label>
                        <input class="form-control" asp-for="CountyId" />
                        <span class="text-danger" asp-validation-for="CountyId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OpenAdress"></label>
                        <input class="form-control" asp-for="OpenAdress" />
                        <span class="text-danger" asp-validation-for="OpenAdress"></span>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-bs-dismiss="modal"><span class="fas fa-times"></span> İptal</button>
                <button type="button" class="btn btn-primary btn-block" id="btnSave"><span class="fas fa-save"></span> Ekle</button>
            </div>
        </div>
    </div>
</div>