@model ApartmentAddDto
<div class="card-header">
    <i class="fas fa-table mr-1"></i>
    Apartman Ekleme
</div>
<form class="form-card" asp-controller="Apartment" asp-action="Add" method="post">
    <div class="row mt-2">
        <div class="col-md-12">
            
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 mt-2 col-lg-8 col-md-9 col-11 text-center">
                        <div class="card">

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-12 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Apartman Adi<span class="text-danger"></span></label>
                                    <input type="text" id="inputApartmentName" asp-for="ApartmentName" />
                                    <span asp-validation-for="ApartmentName" class="text-danger"></span>
                                </div>


                            </div>


                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Kapi Numarasi<span class="text-danger"></span></label>
                                    <input type="text" id="inputDoorNumber" asp-for="DoorNumber" />
                                    <span asp-validation-for="DoorNumber" class="text-danger"></span>

                                </div>

                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Blok Numarasi<span class="text-danger"></span></label> <input type="text" id="inputBlockNo" asp-for="BlockNo" />
                                    <span asp-validation-for="BlockNo" class="text-danger"></span>

                                </div>

                            </div>

                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Il<span class="text-danger"></span></label>
                                    <select class="ajaxCityId" id="inputCity" asp-for="@Model.CityId">
                                    </select>
                                </div>

                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Ilce<span class="text-danger"></span></label>
                                    <select class="ajaxCountyId" id="inputCounty" asp-for="@Model.CountyId">
                                    </select>
                                </div>
                            </div>

                          @*  <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Aktiflik Durumu<span class="text-danger"> </span></label>
                                    <input type="text" id="inputIsActive" asp-for="IsActive" />
                                </div>
                            </div>
*@
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Acik Adres<span class="text-danger"> </span></label>
                                    <textarea id="inputOpenAddress" asp-for="OpenAdress"></textarea>
                                    <span asp-validation-for="OpenAdress" class="text-danger"></span>
                                </div>

                            </div>


                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Yonetici Adi<span class="text-danger"></span></label>
                                    <input type="text" id="inputResponsibleMemberName" asp-for="ResponsibleMemberInfo.NameSurname" />
                                    <span asp-validation-for="ResponsibleMemberInfo.NameSurname" class="text-danger"></span>

                                </div>

                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Yonetici Telefon<span class="text-danger"></span></label>
                                    <input type="text" id="inputResponsibleMemberPhoneNumber" asp-for="ResponsibleMemberInfo.PhoneNumber" />
                                    <span asp-validation-for="ResponsibleMemberInfo.PhoneNumber" class="text-danger"></span>

                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <label class="form-control-label px-3 h6">Yonetici Mail<span class="text-danger"></span></label>
                                    <input type="text" id="inputResponsibleMemberEmail" asp-for="ResponsibleMemberInfo.Email" />
                                    <span asp-validation-for="ResponsibleMemberInfo.Email" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="form-group col-sm-6">
                                    <button type="submit" id="btnSave" class="btn-block btn-primary h6">Ekle</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    //apartment add city and county ddl start
    $().ready(function () {
        $("select[class*='ajaxCityId']").change(function () {
            var ddl = $("select[class*='ajaxCityId']");


            LoadCounties("ajaxCountyId", ddl.val());
        });



        LoadCities("ajaxCityId");

        function LoadCities(selectorclass) {
            var url = "/_Base/GetAjaxCity_DDL";
            var ddl = $("select[class*='" + selectorclass + "']");

            $.getJSON(url, {}, function (data) {
                var items = '';
                ddl.empty();
                $.each(data, function (i, data) {
                    items += "<option value='" + data.DefaultValue + "'>" + data.DefaultText + "</option>";
                });
                ddl.html(items);

            });
        }
        function LoadCounties(selectorclass, Id) {
            var url = "/_Base/GetAjaxCounty_DDL";
            var ddl = $("select[class*='" + selectorclass + "']");

            $.getJSON(url, { Id: Id }, function (data) {
                var items = '';
                ddl.empty();
                $.each(data, function (i, data) {
                    items += "<option value='" + data.DefaultValue + "'>" + data.DefaultText + "</option>";
                });
                ddl.html(items);

            });
        }
    });
   

</script>