@model ApartmentAddDto

<form asp-action="Add" method="post">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <label>Apartment Name:</label>
                        </td>
                        <td>
                            <input type="text" asp-for="ApartmentName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Block Number:</label>
                        </td>
                        <td>
                            <input type="text" asp-for="BlockNo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Door Number:</label>
                        </td>
                        <td>
                            <input type="text" asp-for="DoorNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Responsible Member:</label>
                        </td>
                        <td>
                            <input type="text" asp-for="ResponsibleMemberInfo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Number of Flats:</label>
                        </td>
                        <td>
                            <input type="text" asp-for="NumberOfFlats" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Il:</label>
                        </td>
                        <td>
                            <select class="ajaxCityId" asp-for="@Model.CityId">
                                <option value="">Il seciniz</option>
                            </select>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ilce:</label>
                        </td>
                        <td>
                            <select class="ajaxCountyId" asp-for="@Model.CountyId">
                                <option value="0">Ilce seciniz</option>
                            </select>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Open Address:</label>
                        </td>
                        <td>
                            <input type="text" asp-for="OpenAdress" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Is Active:</label>
                        </td>
                        <td>
                            <input type="checkbox" asp-for="IsActive" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Kaydet</button>
        </div>
    </div>
</form>

<script>
    $().ready(function () {
        $("select[class*='ajaxCityId']").change(function () {
            var ddl = $("select[class*='ajaxCityId']");


            LoadCounties("ajaxCountyId", ddl.val());
        });


    });
    LoadCities("ajaxCityId");

    function LoadCities(selectorclass) {
        var url = "/_Base/GetAjaxCity_DDL";
        var ddl = $("select[class*='" + selectorclass + "']");

        $.getJSON(url, {}, function (data) {
            var items = '';
            ddl.empty();
            $.each(data, function (i, data) {
                items += "<option value='" + data.DefaultValue + "'>" + data.DefaultText + "</option>";
            });
            ddl.html(items);

        });
    }
    function LoadCounties(selectorclass, Id) {
        var url = "/_Base/GetAjaxCounty_DDL";
        var ddl = $("select[class*='" + selectorclass + "']");

        $.getJSON(url, { Id: Id }, function (data) {
            var items = '';
            ddl.empty();
            $.each(data, function (i, data) {
                items += "<option value='" + data.DefaultValue + "'>" + data.DefaultText + "</option>";
            });
            ddl.html(items);

        });
    }
   
</script>