@model ApartmentAddDto

<form asp-controller="Apartment" asp-action="Add" method="post">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <label>Apartman Adı:</label>
                        </td>
                        <td>
                            <input type="text" id="inputApartmentName" asp-for="ApartmentName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Blok numarası:</label>
                        </td>
                        <td>
                            <input type="text" id="inputBlockNo" asp-for="BlockNo" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Kapı Numarası:</label>
                        </td>
                        <td>
                            <input type="text" id="inputDoorNumber" asp-for="DoorNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Yönetıcı Ad-Soyad:</label>
                        </td>
                        <td>
                            <input type="text" id="inputResponsibleMemberName" asp-for="ResponsibleMemberInfo.NameSurname" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Yönetici Mail:</label>
                        </td>
                        <td>
                            <input type="text" id="inputResponsibleMemberEmail" asp-for="ResponsibleMemberInfo.Email" />
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            <label>Yönetici Telefon Numarası:</label>
                        </td>
                        <td>
                            <input type="text" id="inputResponsibleMemberPhoneNumber" asp-for="ResponsibleMemberInfo.PhoneNumber" />
                        </td>
                    </tr>
                <td>
                    <label>Daire Sayısı:</label>
                </td>
                <td>
                    <input type="text" id="inputNumberOfFlats" asp-for="NumberOfFlats" />
                </td>
                </tr>
                <tr>
                    <td>
                        <label>İl:</label>
                    </td>
                    <td>
                        <select class="ajaxCityId" id="inputCity" asp-for="@Model.CityId">
                            <option value="">İl seçiniz</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>İlçe:</label>
                    </td>
                    <td>
                        <select class="ajaxCountyId" id="inputCounty" asp-for="@Model.CountyId">
                            <option value="0">İlçe seçiniz</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Açık Adres:</label>
                    </td>
                    <td>
                        <input type="text" id="inputOpenAddress" asp-for="OpenAdress" />
                    </td>
                </tr>
                    @* <tr>
                <td>
                <label>Aktiflik Durumu:</label>
                </td>
                <td>
                <input type="checkbox" id="inputIsActive" asp-for="IsActive" />
                </td>
                </tr>*@
                </tbody>
            </table>
            <button type="submit" id="btnSave">Kaydet</button>
        </div>
    </div>
</form>

<script>
    //apartment add city and county ddl start
    $().ready(function () {
        $("select[class*='ajaxCityId']").change(function () {
            var ddl = $("select[class*='ajaxCityId']");


            LoadCounties("ajaxCountyId", ddl.val());
        });



        LoadCities("ajaxCityId");

        function LoadCities(selectorclass) {
            var url = "/_Base/GetAjaxCity_DDL";
            var ddl = $("select[class*='" + selectorclass + "']");

            $.getJSON(url, {}, function (data) {
                var items = '';
                ddl.empty();
                $.each(data, function (i, data) {
                    items += "<option value='" + data.DefaultValue + "'>" + data.DefaultText + "</option>";
                });
                ddl.html(items);

            });
        }
        function LoadCounties(selectorclass, Id) {
            var url = "/_Base/GetAjaxCounty_DDL";
            var ddl = $("select[class*='" + selectorclass + "']");

            $.getJSON(url, { Id: Id }, function (data) {
                var items = '';
                ddl.empty();
                $.each(data, function (i, data) {
                    items += "<option value='" + data.DefaultValue + "'>" + data.DefaultText + "</option>";
                });
                ddl.html(items);

            });
        }
    });
    //apartment add city and county ddl end

    //apartment add start
    $().ready(function () {
        $("#btnSave").click(function () {
            var apartment =
            {
                ApartmentName: $("#inputApartmentName").val(),
                BlockNo: $("#inputBlockNo").val(),
                DoorNumber: $("#inputDoorNumber").val(),
                ResponsibleMemberInfo:
                {
                    NameSurname: $("#inputResponsibleMemberName").val(),
                    Email: $("#inputResponsibleMemberEmail").val(),
                    PhoneNumber: $("#inputResponsibleMemberPhoneNumber").val(),
                },
                NumberOfFlats: $("#inputNumberOfFlats").val(),
                CityId: $("#inputCityId").val(),
                CountyId: $("#inputCountyId").val(),
                OpenAddress: $("#inputOpenAddress").val(),
            };
            $.ajax({
                type: "POST",
                url: "/Apartment/Add",
                data: apartment,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Kayit basarili");
                    window.location.href = "/apartment/index";                    
                },
                error: function () {
                    alert("Veri eklenirken bir hata oluştu.");
                    window.location.href = "/apartment/index";

                }
            });
        });
    });
    //apartment add end

</script>